.bg {
    background-image: url('https://e0.pxfuel.com/wallpapers/101/170/desktop-wallpaper-blur.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}